APPS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
PROJECT_REPOSITORY_URL=https://github.com/YOUR_USERNAME/elite-vault-sheets-updater

# Optional tuning
VAULT_REQUEST_DELAY=1.5
VAULT_BATCH_SIZE=100
MIN_MAHON_SYSTEMS=1000
MIN_EXCP_SYSTEMS=150
